@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*1 rem 10px*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 600;
  transition: 0.8s ease all;
  font-family: 'Playfair Display', serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

.app {
  width: 60%;
  max-width: 600px;
  padding: 3rem 5rem;
  height: 60%;
  max-height: 85%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  box-shadow: 0px 0px 40px -26px rgba(0, 0, 0, 0.8);
  transition: all 0.4s;
  animation: moveInBottom 1s ease-in-out;
  overflow: hidden;
}

.app:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.5);
}

.app h1 {
  animation: moveInLeft 1.5s ease-in-out;
}

.app p {
  text-align: right;
  font-size: 1.6rem;
  animation: moveInRight 1.5s ease-in-out;
}

.randomBtn {
  position: absolute;
  bottom: 10%;
  right: 10%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem;
  color: #fff;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  transition: all 0.4s;
  animation: moveInTop 1.5s ease-in-out 0.5s;
  animation-fill-mode: backwards;
}

.randomBtn:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0px 10px 20px -6px #000000;
}

.randomBtn:active {
  transform: translateY(-0.3rem);
  box-shadow: 0px 7px 10px -4px #000000;
}

@media (max-width: 480px) {
  .app {
    width: 90%;
    height: 100%;
    gap: 2rem;
  }
  .app h1 {
    font-size: 2.5rem;
  }
  .app p {
    text-align: center;
  }
}

@media (max-width: 728px) {
  .app {
    height: 70%;
  }
}

@media (min-width: 480px) {
  .app {
    min-width: 400px;
  }
}

@media (max-width: 400px) {
  .app h1 {
    font-size: 2.1rem;
  }

  .app p {
    font-size: 1.4rem;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-90%);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(90%);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
